body{
    background-color: #ffd8d8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .panda-timer{
    display: flex;
    flex-direction: column;
  }
  .ears-box{
    display: flex;
    justify-content: space-around;
   }
  .ears-left{
    position: relative;
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top: 90px;
    left: -30px;
    z-index: -1;
  }
  .ears-right{
    position: relative;
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top: 90px;
    z-index: -1;
    right: -30px;
  }
  .face{
    width: 300px;
    height: 187px;
    background-color: white;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center; 
  }
  .bottom-face{
    width: 300px;
    height: 110px;
    background-color: black;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    borer-bottom: 0;
  }
  .eye{
    height: 120px;
    width: 90px;
    background-color: black;
    border-radius: 50%;
    margin-top: 36px;
    transform: rotate(30deg);
    display: flex;
    justify-content: center;
  }
  .eye.left{
    margin-left: 20px;
  }
    
  .eye.right{
    transform: rotate(-30deg);
    margin-right: 5px;
  }
  .nose{
    width: 30px;
    height: 20px;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: 130px;
    
  }
  .iris{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    jsutify-content: center;
  }
  .iris.left{
    margin-left: 30px;
  }
  .iris.right{
    margin-right: 30px;
  }
  .label{
    width: 0px;
    height: 0px;
    position: relative;
    left: -119px; 
    align-self: flex-end;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
  }
  .sub-iris {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    margin-top: 10px;
  }
  .sub-iris.left{
    margin-left: 20px;
  }
  .sub-iris.right{
    margin-right: 20px;
  }
  .sub-ear{
    position: relative;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: 20px;
    left: 20px;
    z-index: -1;
  }
  .lines{
    display: flex;
    justify-content: space-around;
  }
  .timer-line.center{
    height: 7px;
  }
  .timer-line{
    height: 12px;
    width: 3px;
    background-color: white;
    z-index: 10;
    
  }
  .number{
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    jsutify-content: space-around;
    margin-left: 145px;
  }
  .header{
    font-size: 20px;
  }